<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631702504673-chbusle7eu2pbg9boh8qvb6sc166rdo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631702504673-chbusle7eu2pbg9boh8qvb6sc166rdo9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWbDKfN3vVuVOKW3T8p13WntyVhh4c1jE</string>
	<key>GCM_SENDER_ID</key>
	<string>631702504673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.sfsu.mail-jsendejo1.Tech-Club</string>
	<key>PROJECT_ID</key>
	<string>social-4dc8e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-4dc8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631702504673:ios:d1a1b81b965023f35263a0</string>
</dict>
</plist>